
/* TODO: add customization options */
#twizzle-slider {
 -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: #d3d3d3;
}

#twizzle-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1E90FF;
    cursor: pointer;
  }