.twizzle-pagination {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 5px;
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.twizzle-pagination-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.twizzle-pagination-button {
    border: none;
    background: transparent;
    cursor:pointer;
    color:#afafaf;
}
.twizzle-pagination-button:hover {
    color:#919191;
}

.twizzle-pagination-page {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    width: 15px;
    height: 15px;
    padding: 6px;
    text-align: center;
}
.twizzle-pagination-page:hover {
    background-color: #efecec;
    border-radius: 2px;
}
.twizzle-current-page {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: transparent;
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    padding: 6px;
    text-align: center;
}
