.twizzle-modal {
    display:flex;
    width:100vh;
    border-radius: 3px;
    overflow:hidden;
}

.twizzle-modal-content{
    background-color: #F5F6F7;
    width:100%;
}

.twizzle-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom:1px solid rgba(0,0,0,.06);
    font-family: sans-serif;
}
.twizzle-modal-close{
    font-family: serif;
    font-size: 1.5em;
    color:lightgrey;
}
.twizzle-modal-close:hover{
    color:black;
}
.twizzle-modal-body {
    background-color: red;
    min-height:50px;
    padding: 20px 15px;
    border-bottom:1px solid rgba(0,0,0,.06);
}
.twizzle-modal-footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}