.twizzle-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    cursor: pointer;
}
.twizzle-overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}

.twizzle-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
  }
  .twizzle-button-outlined {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
  }
 
  .twizzle-button-disabled {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid;
    padding: 10px 15px;
    cursor: not-allowed;
    display: flex;
  }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
  @-webkit-keyframes twizzle-loader-rotation {
  0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
  }
@keyframes twizzle-loader-rotation {
  0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
  } 
#twizzle-checkbox {
    position: relative;
    cursor: pointer;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
#twizzle-checkbox:checked:before {

    background-color:#1E90FF;
    border-radius: 50%;
}
#twizzle-checkbox:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
.twizzle-input-text-container{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  transition: 0.5s;
  outline: none;
  align-items:center;
  display:flex;
  gap:5px;
}
.twizzle-input-text{
    width: 92%;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
}
.twizzle-input-text-clear{
  color:#d5d5d5;
  font-size:1.5em;
}
.twizzle-input-text-clear:hover{
  color:#bcbcbc;
  cursor:pointer;
}

.twizzle-display-select-value-container {
    height: 30px;
    width: 120px;
    display: flex;
    border-radius: 3px;
    align-items: center;
    position: absolute;
    overflow:hidden;
 }
 .twizzle-display-select-value {
    display: flex;
    width:75%;
    align-items: center;
    padding-left: 10px;
    font-family: sans-serif;
    align-items: center;
    overflow:hidden;
 }
 .twizzle-select-arrow {
    margin-left: auto;
    margin-right: 5px;
 }
 .twizzle-select-container {
    width: 120px;
    max-height: 200px;
    overflow: scroll;
    padding: 0px;
    position: absolute;
    visibility: visible;
    margin-top: 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    list-style-type: none;
    display: block;
    cursor:pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
 }
 
 .twizzle-select-option {
    display: none;
    height: 40px;
    display: flex;
    padding-left: 10px;
    font-family: sans-serif;
    align-items: center;
    color: black;
    overflow:hidden;

 }
 .twizzle-select-option:hover {
    background-color: #eee;
 }

/* TODO: add customization options */
#twizzle-slider {
 -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: #d3d3d3;
}

#twizzle-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1E90FF;
    cursor: pointer;
  }
.twizzle-input-textarea-container{
  width: 100%;
  padding: 12px 20px;
  margin: 4px;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  transition: 0.5s;
  outline: none;
  display: flex;
  flex-direction: row;
  resize: vertical;
  overflow: auto;


}
.twizzle-input-textarea{
    width: 100%;
    padding: 10px;
    min-height: 100px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
    resize:none;
}
.twizzle-input-textarea-clear{
  color:#d5d5d5;
  font-size:1.5em;
}
.twizzle-input-textarea-clear:hover{
  color:#bcbcbc;
  cursor:pointer;
}

#twizzle-toggle{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for=twizzle-toggle] {
	cursor: pointer;
	width: 60px;
	height: 30px;
	display: block;
	border-radius: 30px;
	position: relative;
}

label[for=twizzle-toggle]:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 25px;
	transition: 0.3s;
}


#twizzle-toggle:checked + label[for=twizzle-toggle]:after {
	left: calc(100% - 5px);
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
}

label[for=twizzle-toggle]:active:after {
	width: 20px;
}

/* add style for alert component */
.twizzle-alert {
  position: absolute;
  top: 5;
  width: 80%;
  margin: auto 10%;
  border-radius: 10px !important;
}
.twizzle-alert-info {
  background-color: #f4f6ff;
  color: #0b5394;
  border: 1px solid #c9d0ff;
  border-radius: 10px !important;
}
.twizzle-alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 10px !important;
}
.twizzle-alert-warning {
  background-color: #feefb3;
  color: #8a6d3b;
  border: 1px solid #fdb813;
  border-radius: 10px !important;
}
.twizzle-alert-danger {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  border-radius: 10px !important;
}

.twizzle-modal {
    display:flex;
    width:100vh;
    border-radius: 3px;
    overflow:hidden;
}

.twizzle-modal-content{
    background-color: #F5F6F7;
    width:100%;
}

.twizzle-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom:1px solid rgba(0,0,0,.06);
    font-family: sans-serif;
}
.twizzle-modal-close{
    font-family: serif;
    font-size: 1.5em;
    color:lightgrey;
}
.twizzle-modal-close:hover{
    color:black;
}
.twizzle-modal-body {
    background-color: red;
    min-height:50px;
    padding: 20px 15px;
    border-bottom:1px solid rgba(0,0,0,.06);
}
.twizzle-modal-footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.twizzle-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
.twizzle-back-to-top:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}

/*# sourceMappingURL=main.528ece14.css.map*/