.twizzle-button {
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
  }
  .twizzle-button-outlined {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
  }
 
  .twizzle-button-disabled {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid;
    padding: 10px 15px;
    cursor: not-allowed;
    display: flex;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}