#twizzle-toggle{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for=twizzle-toggle] {
	cursor: pointer;
	width: 60px;
	height: 30px;
	display: block;
	border-radius: 30px;
	position: relative;
}

label[for=twizzle-toggle]:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 25px;
	transition: 0.3s;
}


#twizzle-toggle:checked + label[for=twizzle-toggle]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for=twizzle-toggle]:active:after {
	width: 20px;
}
