.twizzle-input-text-container{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  align-items:center;
  display:flex;
  gap:5px;
}
.twizzle-input-text{
    width: 92%;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.twizzle-input-text-clear{
  color:#d5d5d5;
  font-size:1.5em;
}
.twizzle-input-text-clear:hover{
  color:#bcbcbc;
  cursor:pointer;
}
